.hero {
    padding-top: 80px;
    position: relative;
}

.hero::after {
    content: "";
    background: url(../images/декор.svg) repeat-x;
    width: 100%;
    height: 48px;
    position: absolute;
    z-index: -1;
    bottom: 106px;
}
.hero-container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero h1 {
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero h1 strong {
    color: #3596ed;
}

.hero-info .text {
    margin-bottom: 140px;
    max-width: 440px;
}

.hero-img {
    display: flex;
    position: relative;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 161px;
    padding: 22px;
    border: 1px solid #535755;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.news-container {
    display: flex;
    gap: 28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-bottom: auto;
}

.news-date {
    margin-bottom: 8px;
    display: inline-block;
}
.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
    
}

.news-link::after {
    content: "";
    width: 22px;
    display: inline-block;
    height: 9px;
    background-image: url(../images/decor.svg);
    transition: transform 0.2s;
}

.news-link:hover::after {
    transform: translateX(5px);
}

.faq-container {
    display: flex;
    gap: 28px;

}

.faq {
    position: relative;
}

.faq::before {
    content: "";
    background: url(../images/декор.svg) repeat-x;
    width: calc(50% - 250px);
    height: 48px;
    position: absolute;
    z-index: -1;
    top: 215px;
}

details[open] summary::after {
    transform: rotate(180deg);
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
}

summary::after {
    display: inline-block;
    content: "";
    width: 17px;
    height: 22px;
    background: url("../images/стрелка.svg") no-repeat center / cover;
}

summary::-webkit-details-marker {
    display: none;
}

details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}
details > p {
    padding: 0 20px 20px;
}