html {
    font-family: sans-serif;
}
body * {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.container{
    max-width: 1320px;
    max-height: 105px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
td {
    border: 20px solid #000;
    background-color: #000;

}
.a {
    text-decoration: none;
}