html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    min-height: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.button {
    display: inline-block;
    padding: 19px 32px;
    background-color: #3596ed;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    -webkit-transition: opacity 0.2s, background-color 0.2s;
    -o-transition: opacity 0.2s, background-color 0.2s;
    transition: opacity 0.2s, background-color 0.2s;
}

.button:hover {
  opacity: 0.75;
}

.section {
  margin-bottom: 140px;
}

.article-mb {
  margin-bottom: 80px;
}

.title-large {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
   font-size: 48px;
}

.text-sub {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #858e8a;
}

a, button {
  outline: none;
}

.button:not(:disabled):active {
  background-color: #2a7ac0;
}

button.button:disabled {
  opacity: 0.65;
  cursor: default;
}

a:focus-visible, button:focus-visible, summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

.title-medium {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.decor::before {
    content: "";
    background: url(../images/декор.svg) repeat-x;
    width: calc(50% - 250px);
    height: 48px;
    position: absolute;
    z-index: -1;
}

@media (width <= 992px) {
    .container {
      max-width: 768px;
    }
}

@media (width <= 768px) {
    .container {
      max-width: 576px;
    }

    .title-large {
      font-size: 40px;
      margin-bottom: 30px;
    }

    .home-page .title-large {
      text-align: center;
      max-width: inherit;
    }

    .title-medium {
      font-size: 22px;
    }
}

@media (width <= 576px) {
    .container {
      margin-bottom: 80px;
    }

    .title-large {
      font-size: 32px;
    }

    .title-medium {
      font-size: 18px;
    }
}