@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("../font/OswaldSemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("../font/OswaldMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("../font/UbuntuLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("../font/UbuntuRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("../font/UbuntuMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}